<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scrader's Supported Companies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Scrader's Supported Companies</h2>
  <form id="myForm">
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Amazon">Amazon</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Google">Google</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Facebook">Facebook</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Instagram">Instagram</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Adidas">Adidas</label>
    </div>
    <input type="button" onclick="myFunction()" value="Submit form">
  </form>
</div>

<script>
function myFunction() {
    element = document.getElementById("myForm");
    console.log(element.elements[0].value);
    console.log(document.getElementById('checkbox').checked)
    console.log('CLICK')
}
</script>

</body>
</html>