<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scrader's Supported Companies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <h2>Mr {{name}} these are Scrader's Supported Companies</h2>
  <form id="myForm">
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Amazon">Amazon</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Google">Google</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Facebook">Facebook</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Instagram">Instagram</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="Adidas">Adidas</label>
    </div>
    <input type="button" onclick="myFunction()" value="Submit form">
  </form>
</div>

<script>
function myFunction() {
    element = document.getElementById("myForm");
    
     for (var i=0; i< element.elements.length - 1; i++){
      name = element.elements[i].id;
      clicked = element.elements[i].checked;
      console.log(name + ' clicked ' + clicked);
     }

     // $.ajax({
     //         type: 'GET',
     //         url: 'latest_news',
     //         dataType: 'json',
     //         success: function (jsondata) {
     //                 //console.log(jsondata);
     //                 news_data = create_news_data(jsondata)
     //                 create_chart(news_data);
     //         },
     //         complete: function (data) {
     //                 // Schedule the next
     //                 setTimeout(doAjax, interval);
     //         }
     //     });
}
</script>

</body>
</html>