<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scrader's Supported Websites</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://webview.scrader.com/static/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
  </script>

<script>
  window.extAsyncInit = function() {

    console.log('the Messenger Extensions JS SDK is done loading ');
    // the Messenger Extensions JS SDK is done loading

  };

</script>
</head>
<body>


<div class="main-container">

        <div class="panel">
            <div id="websites_header" class="panel-heading"> {{name}} these are Scrader's Supported Websites. Please select the ones you would like to get notifications from.</div>
            <div class="panel-body panel-custom-body">
             <form id="myForm" class="websites_form">
                <ul id="mylist" class="input-list">
                </ul>
                <input type="button" onclick="myFunction()" value="Done" class="btn btn-success btn-block">
                 </form>
            </div>
        </div>

</div>





<script>

$( document ).ready(function() {


    $.ajax({
          type: 'GET',
          url: 'https://webview.scrader.com/scrader/all_websites',
          dataType: 'json',
          success: function (jsondata) {
                  //console.log(jsondata);
                  all_websites = jsondata
                  console.log(all_websites);
                  var websites_arr = $.map(all_websites, function(el) { return el });
                  for (var i=0; i< all_websites.length - 1; i++){

                      var list_elem = document.createElement("li");
                      var div = document.createElement("div");
                      div.className = "pure-checkbox-toggle";
                      var input = document.createElement("input");
                      input.id = all_websites[i];
                      input.name = "checkbox";
                      input.type = "checkbox";
                      input.value = "value";
                      div.appendChild(input);
                      var label = document.createElement("Label");
                      label.setAttribute("for", all_websites[i]);
                      label.innerHTML = all_websites[i];
                      div.appendChild(label);

                      list_elem.appendChild(div);
                      parent = document.getElementById("mylist");
                      parent.appendChild(list_elem);
                  }
          },
          complete: function (data) {
                  // Schedule the next
                  //setTimeout(doAjax, interval);
          }
      });


    $.ajax({
              type: 'GET',
              url: 'https://webview.scrader.com/websites/{{user_id}}',
              dataType: 'json',
              success: function (jsondata) {
                      //console.log(jsondata);
                      websites = jsondata
                      console.log(websites);
                      var websites_arr = $.map(websites, function(el) { return el });
                      element = document.getElementById("myForm");
                      for (var i=0; i< element.elements.length - 1; i++) {
                        name = element.elements[i].id;
                        if ($.inArray(name, websites_arr) != -1){
                          element.elements[i].checked = true;
                        }
                        console.log(element.elements[i].checked);
                      }

              },
              complete: function (data) {
                      // Schedule the next
                      //setTimeout(doAjax, interval);
              }
          });
});

function myFunction() {
    element = document.getElementById("myForm");
    data = {user: '{{ user_id }}' , websites: ''};
    websites_list = [];
     for (var i=0; i< element.elements.length - 1; i++){
      name = element.elements[i].id;
      clicked = element.elements[i].checked;
      console.log(name + ' clicked ' + clicked);
      if (clicked) {
          websites_list.push(name);
      }
     }
     data.websites = websites_list;
     var jsonString = JSON.stringify(data);
     url = "https://webview.scrader.com/scrader/user_websites"
     $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: url,
      data: jsonString,
      success: success,
      dataType: 'json'
    });
}


function success() {
  /*
  Broadcast API
  http://docs.chatfuel.com/broadcasting/broadcasting-documentation/broadcasting-api

  -----------------------------------------------------
  https://api.chatfuel.com/bots/%3CBOT_ID%3E/users/%3CUSER_ID%3E/send?chatfuel_token=%3CTOKEN%3E&chatfuel_block_name=%3CBLOCK_NAME%3E&%3CUSER_ATTRIBUTE_1%3E=%3CVALUE_1%3E&%3CUSER_ATTRIBUTE_2%3E=%3CVALUE_2 */
 console.log('{{name}}');
 url = "https://api.chatfuel.com/bots/591189a0e4b0772d3373542b/users/{{user_id}}/send?chatfuel_token=vnbqX6cpvXUXFcOKr5RHJ7psSpHDRzO1hXBY8dkvn50ZkZyWML3YdtoCnKH7FSjC&chatfuel_block_id=59c17100e4b0634689fb973b&last%20name={{name}}"
 console.log(url);
 $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: url,
      success: windowclose,
      dataType: 'json'
    });

};
function windowclose() {
  /*
MessengerExtensions.requestCloseBrowser(function success() {}, function failure(err) {
  alert('error closing the window: ' + err); // error closing the window:
  console.log(err); // doesn't print
 // window.close();
});       */
           //  We need to do something for Safari. On iOS the window doesn't close so I have written the following
          window.close();
      $('#websites_header').text('Websites Saved. Please close this window and return to Messenger.');

      $('.panel-custom-body').hide();

  }
</script>



</body>
</html>
